<h1>Current Weather data</h1>

<ul>
    {{#each data}}
        <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>

<form action="/" method="post">
    <label for="city">City: </label>
    <input type="text" name="city">
    <input type="submit" value="submit">
</form>
