<form action="/" method="post">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="country" placeholder="Country">
    <input type="submit" value="submit">
</form>

<ul>
    {{#each data}}
        <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>
<p>
    {{message}}
</p>
